* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(253, 250, 250, 0.788);
    display: flex;
    align-items: center;

    ul {
        display: flex;
        padding-left: 2em;
        list-style: none;

        li {
            margin-left: 1.8em;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    img {
        width: 40px;
        margin: 10px 15px;
        border-radius: 10px;
    }
}

main {
    display: flex;
    height: 100vh;
    background-image:
        linear-gradient(180deg, rgba(245, 241, 241, 0.541), rgba(241, 240, 240, 0.925) 85%),
        radial-gradient(ellipse at top left, rgb(61, 133, 241), transparent 70%),
        radial-gradient(ellipse at top right, rgba(245, 218, 139, 0.534), transparent 70%),
        radial-gradient(ellipse at center right, #9259fce1, transparent 70%),
        radial-gradient(ellipse at center left, rgba(255, 70, 162, 0.822), transparent 70%);

    .side-bar {
        height: 100vh;
        width: 10%;
        background-color: white;

        ul {
            padding-top: 1.8em;
            margin-left: 1em;
            list-style: none;

            li {
                padding-top: 1.8em;

                a {
                    text-decoration: none;
                    color: inherit;
                    transition: 0.3s;

                    &:hover {
                        color: #7b5cf5;
                    }
                }
            }
        }
    }

 

    .list-of-orders {
        width: 55%;
        background-color: azure;
        ul{
            display: flex;
            flex-direction: column;
            

            .cart-item {
                display: grid;
                grid-template-columns: 80px 1fr 80px 100px 120px 120px 50px;
                align-items: center;
                gap: 10px;
                width: 70%;
                margin: 80px;
                flex-grow: 1;
                justify-content: space-around;
                padding: 10px;
                border-bottom: 1px solid #ddd;
                div{
                    display: flex;
                    flex-direction: column;
                    span{
                        flex-grow: 0;
                    }
                }
                img {
                    width: 80px;
                    height: 80px;
                }
            
                .item-name {
                    font-weight: bold;
                }
            
                .price {
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                }
            
                input {
                    width: 80px;
                    padding: 5px;
                    text-align: center;
                }
            
                .discount-text {
                    grid-column: span 2;
                    font-size: 14px;
                    color: gray;
                }
            
                button.close {
                    background: red;
                    color: white;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    width: 30px;
                    font-size: 16px;
                    border-radius: 5px;
                }
            }
            
        }
    }
    .payment-information {
        display: flex;
        justify-content: center;
        width: 35%;
        justify-content: center;  
        padding-top: 5%;
        height: 100vh;           
        background-color:azure; 
    
        .shipping-info {
            padding: 20px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.048);
            width: 100%;
            max-width: 500px; 
            

            h2 {
                text-align: center;
                font-size: 18px;
                margin-bottom: 15px;
            }
        
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
        
                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
        
                input {
                    width: 100%;
                    height: 40px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }
            #card-info{
                margin-top: 20px;
            }
        
            .row {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
        
                .form-group {
                    flex: 1;
                    min-width: 30%; 
                }
            }
        }
        .submit_btn{
            background-color: #3907ff48;
            color:rgba(8, 8, 8, 0.562);
            height: 40px;
            width: 40%;
            border-radius: 10px;
            border: none;
            cursor: pointer;
           
        }
        .submit_btn:hover{
            background-color: #7b5cf5;
        }
       
    }
        
}    
